
.container{
    background-color: #00B7FF;
    width: 800px;
    height: 250px;
    margin: 0 auto;
    padding: 20px;
}

.row{
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
.title{
   width: 90px;
    height: 30px;
    margin: 0 auto;
}

.signup{
    margin-left: 150px;
    font-size: 12px;
}

.input-group{
    width: 800px;
margin-bottom: 10px;

}

.warning{
    color: red;
    font-size: 15px;
    display: none;
}
.tip{
    margin-left: 120px;
}

