body {
    background-color: #F8FABF;
}

a {
    color: darkred;
}

a:hover {
    color: #ca3a11;
    text-decoration: none
}

.panel-heading a {
    margin-left: 55%;
    font-size: 12px;
}

table a {
    color: black;
}

.notice tr{
    border-bottom: 1px dashed black;
}

.notice{
    overflow: hidden;
}
.content{
   position: relative;
}


ul a{
    color: black;
}
ul{
    list-style: none;
    margin-left: -50px;
}
li{
    margin-top: 10px;
}
.panel-body li{
    margin-left: 5px;
    border-bottom: 1px dashed;
}

.footer {
    position: relative;
    height: 90px;
    background-image: url("header.jpg");
}
.version{
    width: 200px;
    position: absolute;
    top: 30%;
    left:45%;
}

.imgContainer {
    position: relative;
}

.imgList img {
    width: 650px;
    height: 350px;
    position: absolute;
    opacity: 0;
}

.imgList .img-on {
    opacity: 1;
}

.text {
    width: 650px;
    background-color: rgba(60, 63, 65, 0.8);
    color: darkred;
    font-size: 20px;
    position: relative;
    opacity: 0;
    text-align: center;
}
.text a{
    position: absolute;
}
.text .text-on {
    opacity: 1;
}

.spot {
    position: absolute;
    left: 45%;
    bottom: 5px;
}

.spot span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #aaaaaa;
    float: left;
    margin-left: 5px;
}

.spot .on {
    background-color: floralwhite;
}