body{
    background-color: #F8FABF;
}
a {
    color: darkred;
}
a:hover{
    text-decoration: none
}
.panel-heading a{
    margin-left: 90px;
    font-size: 12px;
}
table a{
    color: black;
}

.notice{
    /*margin-top: 300px;*/
    /*display: none;*/
}

.footer{
    height: 80px;
    background-image: url("header.jpg");
}

.imgContainer{
    position: relative;
}
.imgList img{
    width: 650px;
    height: 350px;
    position: absolute;
}
.imgList img{
    opacity:0;

}
.imgList .img-on{
    opacity: 1;
}

.spot{
    position: absolute;
    left: 45%;
    bottom: 5px;
}

.spot span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #aaaaaa;
    float: left;
    margin-left: 5px;
}
.spot .on{
    background-color: floralwhite;
}