<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
    <div class="container">
        <form class="row" method="get">
            <div class="title">用户登录</div>
            <!--将样式放在stylecss中会不起作用-->
            <div class="signup" style="font-size: 12px;margin-left: 150px">我还没有<a href="sign-up.html">注册</a></div>
            <div class="input-group">
                <span>账号：</span>
                <input type="text" placeholder="昵称/手机号码">
            </div>
            <div class="input-group">
                <span>密码：</span>
                <input type="password">
            </div>
            <div class="input-group tip">
                <input type="checkbox">  记住密码
            </div>
            <div class="btn">
                <button type="button">登录</button>
            </div>
        </form>
    </div>
</body>
</html>